@page "/"
@page "/books"

<h3>Available books in our library</h3>

<div class="form-group row">
        <label for="name" class="col-sm-3">Search a book: </label>
        <input id="name" class="form-control col-sm-8" @bind-value="SearchText" @bind-value:event="oninput" placeholder="Search book by title or author"></input>
</div>

@if (Books == null)
{
    <LoadingAnimation />
}
else
{
    <table class=table>
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in FilteredBooks)
            {
                <tr>
                    <td>@book.Author</td>
                    <td>@book.Title</td>
                </tr>
            }
        </tbody>
    </table>
}